.info-group {
    max-width: 600px;
    margin: 2rem auto;
    padding: 1.2rem;
    // Small screens
    @media only screen and (max-width: 40em) {
        margin-top: 0;
    }

    &__title {
        text-transform: uppercase;
        // Small screens
        @media only screen and (max-width: 40em) {
            margin-top: 0;
        }
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__item {
        display: table;
        border-bottom: 1px solid $light-grey;
        font-size: 1.4rem;
        padding: 10px 0;
        word-wrap: break-word;
        word-break: break-word;
        width: 100%;
        // Medium screens
        @media only screen and (max-width: 64em) {
            font-size: 1.2rem;
        }
        // Small screens
        @media only screen and (max-width: 40em) {
            font-size: 1rem;
        }

        &:hover &-icon {
            transform: scale(1.4, 1.4);
        }

        a {
            text-decoration: underline;
        }

        &-icon {
            display: inline-block;
            font-size: 22px;
            margin-right: 10px;
            min-width: 35px;
            text-align: center;
            transition: all .3s;
            // Small screens
            @media only screen and (max-width: 40em) {
                font-size: 16px;
                min-width: 25px;
            }
        }

        &-value {
            display: table-cell;
            width: 100%;
        }
    }
}
