.menu__toggle {
    background: transparent;
    color: $white;
    float: right;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin: 3px 0 0;
    padding: 6px 10px;
    text-shadow: 1px 1px 3px rgba($black, 0.3);
    text-transform: uppercase;

    &:focus {
        outline-color: $black;
    }

    &:focus,
    &:hover {
        background: none;
        text-decoration: none;
    }

    .menu-label {
        vertical-align: middle;
    }

    .fa {
        font-size: 25px;
        margin-left: 10px;
        margin-top: -3px;
        min-width: 20px;
        vertical-align: middle;
    }
}

.menu__icon-close {
    display: none;
}

[data-menu-visible] {
    overflow-y: scroll;
    position: fixed;
    width: 100%;

    .menu__icon-open {
        display: none;
    }

    .menu__icon-close {
        display: inline-block;
    }


}

// Menu Overlay
.menu {
    @include alpha-attribute('background', rgba($black, 0.85), $black);
    display: none;
    height: 100%;
    padding: 50px 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;

    &:before {
        content: "";
        display: table-cell;
        height: 100%;
        vertical-align: middle;
    }
}

// Menu list
.menu__list {
    display: table-cell;
    list-style: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    width: 100%;

    a {
        color: $white;
        display: block;
        font-family: $font-light;
        font-size: 25px;
        padding: 10px;
        text-align: center;
        text-transform: uppercase;
        transition: background .2s;
        // Medium screens
        @media only screen and (min-width: 40.0625em) {
            font-size: 44px;
        }
        // Large screens
        @media only screen and (min-width: 64.063em) {
            font-size: 64px;
        }

        &.menu__item--active {
            font-family: $font-medium;
        }

        &:focus {
            outline: none;
        }

        &:focus,
        &:hover {
            @include alpha-attribute('background', rgba($white, 0.2), $black);
            text-decoration: none;
        }
    }
}
