.header {
    left: 0;
    min-height: 50px;
    padding: 0 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2000;
    transition: background .5s ease-out;

    &--bg {
        @include alpha-attribute('background', rgba($black, 0.6), $black);
    }

    .white-logo {
        display: inline-block;
        padding: 6px 5px 7px;
    }

    .header__inner {
        margin: 6px 0;
    }
}
