﻿@include keyframes(bounce) {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-10px);
    }
}

.bounce,
.bounce-hover:hover,
.after-bounce-hover:hover:after {
    @include animation("bounce 1.2s infinite");
}
