﻿body {
    font-family: $font-normal;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus,
[tabindex]:focus {
    outline: 1px dotted $black;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
h5,
h6 {
    font-family: $font-normal;
    font-weight: normal;
    text-transform: uppercase;
}

a {
    color: $primary-link;
    text-decoration: none;
}

a:focus,
a:hover {
    color: $primary-link-hover;
    text-decoration: underline;
}


a:focus,
a:hover,
button:focus,
button:hover {
    text-decoration: underline;
}

em {
    font-family: $font-bold;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
}

.show-for-sr {
    border: 0;
    margin: 0;
}

.row {
    max-width: 100%;
}

.row-showcase {
    margin-bottom: 3rem;
    // Large screens
    @media only screen and (min-width: 64.063em) {
        margin-bottom: 5rem;
    }

    .column,
    .columns {
        margin-bottom: 5px;
        padding: 0 0 0 5px;
        // Up to Large Screens
        @media only screen and (max-width: 64em) {
            padding: 0;
        }


        &:first-child {
            padding: 0;
        }

        img {
            width: 100%;
        }
    }
}

.white-logo-large {
    // Small screens
    @media only screen and (max-width: 40em) {
        width: 50%;
    }
}

.banner--hero {
    h1,
    .h1 {
        font-size: 2.5rem;
        // Small screens
        @media only screen and (max-width: 40em) {
            font-size: 2rem;
        }
        // Large screens
        @media only screen and (min-width: 64.063em) {
            font-size: 3.2rem;
        }
        // XLarge screens
        @media only screen and (min-width: 90.063em) {
            font-size: 5rem;
        }
    }

    h2,
    .h2 {
        font-size: 1.5rem;
        margin-bottom: 1em;
        // Small screens
        @media only screen and (max-width: 40em) {
            font-size: 1.2rem;
        }
        // Large screens
        @media only screen and (min-width: 64.063em) {
            font-size: 2rem;
        }
        // XLarge screens
        @media only screen and (min-width: 90.063em) {
            font-size: 2.5rem;
        }
    }
}

.content {
    padding: 4em 0;

    &:focus {
        outline: none;
    }

    h2,
    h3,
    .h3 {
        margin: 0 0 1em;
    }

    h2 {
        // Small screens
        @media only screen and (max-width: 40em) {
            font-size: 1.4rem;
        }
        // Medium screens
        @media only screen and (min-width: 40.0625em) {
            font-size: 1.8rem;
        }
    }
}

.container {
    max-width: 50rem;
    margin: 1rem auto 3rem;
    padding: 0 1.2rem;

    p {
        // Medium screens
        @media only screen and (min-width: 40.0625em) {
            font-size: 125%;
        }
    }

    &-case-study {
        font-family: $font-book;
        margin-bottom: 5rem;
        text-align: center;
        // XLarge screens
        @media only screen and (min-width: 90.063em) {
            margin: 2rem auto 7rem;
        }

        p {
            line-height: 1.4;
            // Small screens
            @media only screen and (max-width: 40em) {
                text-align: left;
            }
            // Medium screens
            @media only screen and (min-width: 40.0625em) {
                font-size: 130%;
            }
            // Large screens
            @media only screen and (min-width: 64.063em) {
                font-size: 155%;
            }
        }
    }
}

.stand-out {
    display: block;
    font-weight: bold;
    margin: .4rem 0;
}
