﻿.button {
    font-family: $font-normal;
}

.button-link {
    background: none;
    border-color: transparent;
    color: $primary-link;

    &:focus,
    &:hover {
        background: none;
        border-color: transparent;
        color: $primary-link-hover;
    }
}

.button-link--cta {
    color: $black;
    font-size: 24px;
    font-weight: bold;
    // Small screens
    @media only screen and (max-width: 40em) {
        font-size: 20px;
    }
}

.button-play {
    background: transparent;
    border: 2px solid $white;
    border-radius: 50%;
    height: 70px;
    padding: 5px 5px 5px 10px;
    width: 70px;

    &:after {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        margin: 0 auto;
        transition: transform .3s;
        @include triangle(right, $white, 20px);
    }

    &:focus,
    &:hover {
        background: rgba($black, 0.7);

        &:after {
            transform: scale(1.1);
        }
    }

    &--middle {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -35px;
        margin-left: -35px;
    }
}

$button-more-width: 90;

.button-more {
    // Banner More
    .banner & {
        bottom: 0;
        color: $white;
        left: 50%;
        margin-left: $button-more-width * -0.5px;
        position: absolute;
        text-shadow: 1px 1px 3px rgba($black, 0.3);

        &:focus,
        &:hover {
            color: $white;
            padding-bottom: 10px;

            &:after {
                margin-top: 20px;
            }
        }

        &:after {
            background-image: url(../assets/img/arrow-down-white.png);
        }
    }

    background: none;
    color: $black;
    display: block;
    font-weight: 600;
    margin: 0 auto;
    padding: 10px 0 0;
    text-align: center;
    text-transform: uppercase;
    width: $button-more-width * 1px;
    transition: all .3s ease-out;

    &:focus,
    &:hover {
        background: none;
        color: $black;
        outline: none;
        text-decoration: none;
    }

    &:after {
        content: "";
        background: url(../assets/img/arrow-down-black.png) center center no-repeat;
        display: block;
        height: 31px;
        margin: 12px auto;
        width: 31px;
    }
}

.white-load-more--loading {
    &:after {
        background-image: url(../assets/img/icon-loading-black.gif);
    }
}
