@font-face {
    font-family: "gotham-bold";
    src: url("../assets/fonts/Gotham/Book/gotham-bold-webfont.eot"); // IE9 Compat Modes
    src: url("../assets/fonts/Gotham/Bold/gotham-bold-webfont.eot?#iefix") format("embedded-opentype"), // IE6-IE8
    url("../assets/fonts/Gotham/Bold/gotham-bold-webfont.woff2") format("woff2"), // Super Modern Browsers
    url("../assets/fonts/Gotham/Bold/gotham-bold-webfont.woff") format("woff"), // Pretty Modern Browsers
    url("../assets/fonts/Gotham/Bold/gotham-bold-webfont.ttf") format("truetype"), // Safari, Android, iOS
    url("../assets/fonts/Gotham/Bold/gotham-bold-webfont.svg#svgFontName") format("svg"); // Legacy iOS
}

@font-face {
    font-family: "gotham-book";
    src: url("../assets/fonts/Gotham/Book/gotham-book-webfont.eot"); // IE9 Compat Modes
    src: url("../assets/fonts/Gotham/Book/gotham-book-webfont.eot?#iefix") format("embedded-opentype"), // IE6-IE8
    url("../assets/fonts/Gotham/Book/gotham-book-webfont.woff2") format("woff2"), // Super Modern Browsers
    url("../assets/fonts/Gotham/Book/gotham-book-webfont.woff") format("woff"), // Pretty Modern Browsers
    url("../assets/fonts/Gotham/Book/gotham-book-webfont.ttf") format("truetype"), // Safari, Android, iOS
    url("../assets/fonts/Gotham/Book/gotham-book-webfont.svg#svgFontName") format("svg"); // Legacy iOS
}

@font-face {
    font-family: "gotham-light";
    src: url("../assets/fonts/Gotham/Light/gotham-light-webfont.eot"); // IE9 Compat Modes
    src: url("../assets/fonts/Gotham/Light/gotham-light-webfont.eot?#iefix") format("embedded-opentype"), // IE6-IE8
    url("../assets/fonts/Gotham/Light/gotham-light-webfont.woff2") format("woff2"), // Super Modern Browsers
    url("../assets/fonts/Gotham/Light/gotham-light-webfont.woff") format("woff"), // Pretty Modern Browsers
    url("../assets/fonts/Gotham/Light/gotham-light-webfont.ttf") format("truetype"), // Safari, Android, iOS
    url("../assets/fonts/Gotham/Light/gotham-light-webfont.svg#svgFontName") format("svg"); // Legacy iOS
}

@font-face {
    font-family: "gotham-medium";
    src: url("../assets/fonts/Gotham/Medium/gotham-medium-webfont.eot"); // IE9 Compat Modes
    src: url("../assets/fonts/Gotham/Medium/gotham-medium-webfont.eot?#iefix") format("embedded-opentype"), // IE6-IE8
    url("../assets/fonts/Gotham/Medium/gotham-medium-webfont.woff2") format("woff2"), // Super Modern Browsers
    url("../assets/fonts/Gotham/Medium/gotham-medium-webfont.woff") format("woff"), // Pretty Modern Browsers
    url("../assets/fonts/Gotham/Medium/gotham-medium-webfont.ttf") format("truetype"), // Safari, Android, iOS
    url("../assets/fonts/Gotham/Medium/gotham-medium-webfont.svg#svgFontName") format("svg"); // Legacy iOS
}
