﻿// Display
.u-inline-block {
    display: inline-block !important;
}

// Text
.u-uppercase {
    text-transform: uppercase !important;
}

.u-inherit-case {
    text-transform: inherit !important;
}

// Height
[data-hero-height="70"] {
    height: 70%;
}

// Width
.u-w100 {
    width: 100% !important;
}

// Margin - Relative
.u-mt2 {
    margin-top: 2rem !important;
}

.u-mb1 {
    margin-bottom: 1rem !important;
}

.u-mb2 {
    margin-bottom: 2rem !important;
}

// Margin - Defined
.u-mb_5 {
    margin-bottom: 5px !important;
}

// Padding
.u-pt0 {
    padding-top: 0 !important;
}


.u-pl0 {
    padding-left: 0 !important;
}

