.video {
    position: relative;
    cursor: pointer;
    margin-bottom: 3rem;

    .video__title {
        text-align: center;
        text-transform: inherit;
    }

    .video__inner {
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        perspective: 1200px;

        .video__image,
        iframe {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            transition: all 0.6s;
            transform-style: preserve-3d;
            backface-visibility: hidden;
        }

        .video__image {
            display: none;

            @media only screen and (min-width: 40.0625em) {
                z-index: 2;
                background-size: cover;
                background-position: center center;
                transform: rotateY(0deg);
                // Set in javascript for responsiveness.
                // transform-origin: center center {set by javascript};
            }
        }

        iframe {
            @media only screen and (min-width: 40.0625em) {
                opacity: 0;
                z-index: 1;
                transform: rotateY(90deg);
                // Set in javascript for responsiveness.
                // transform-origin: center center {set by javascript};
            }
        }
    }

    @media only screen and (min-width: 40.0625em) {
        &[data-allow-cube=true] .video__image {
            display: block;
        }

        &[data-video-visible="true"],
        &[data-allow-cube=false] {
            .video__image {
                opacity: 0;
                transform: rotateY(-90deg);
            }

            iframe {
                opacity: 1;
                transform: rotateY(0deg);
            }
        }
    }
}
