﻿@mixin alpha-attribute($attribute, $color, $background) {
    $percent: alpha($color) * 100%;
    $opaque: opacify($color, 1);
    $solid-color: mix($opaque, $background, $percent);
    #{$attribute}: $solid-color;
    #{$attribute}: $color;
}

@mixin animation($animate...) {
    $max: length($animate);
    $animations: "";

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }

    animation: $animations;
}

@mixin keyframes($animation-name) {
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin triangle($direction, $color: $white, $size: 1em) {
    border: $size solid transparent;
    border-#{$direction}-width: 0;
    border-#{opposite-direction($direction)}: $size * 1.5 solid $color;
}

@mixin hardware-acceleraton() {
    transform: translate3d(0, 0, 0);
}