.banner {
    background-color: $black;
    display: table;
    width: 100%;
    height: 260px;
    background-size: cover;
    background-position: center center;
    position: relative;
    // Not Small
    @media only screen and (min-width: 40.0625em) {
        height: 400px;
    }
    // Large screens
    @media only screen and (min-width: 64.0625em) {
        height: 485px;
    }

    &-link {
        color: $white;
        margin-bottom: 1rem;
        text-decoration: none;

        &:active .banner-link__title {
            text-decoration: none;
        }

        &:focus,
        &:hover {
            color: $white;
            text-decoration: none;

            .banner__inner {
                background: rgba($black, 0.4);
            }
            // Not Small
            @media only screen and (min-width: 40.0625em) {
                .banner-link__title {
                    transform: translate(0, -10px);
                }
            }
        }

        &__title {
            font-size: 1.8rem;
            line-height: 1;
            margin-bottom: 10px !important;
            transition: all .3s;
            // Not Small
            @media only screen and (min-width: 40.0625em) {
                font-size: 2.5rem;
            }
            // Large screens
            @media only screen and (min-width: 64.0625em) {
                font-size: 3rem;
            }
        }

        p {
            // Large screens
            @media only screen and (min-width: 64.0625em) {
                font-size: 130%;
            }
        }
    }

    &__inner {
        color: $white;
        display: table-cell;
        font-weight: bold;
        padding: 2rem .8rem;
        text-align: center;
        vertical-align: middle;
        transition: background 0.5s;

        h1,
        h2,
        h3,
        h4 {
            color: $white;
            text-transform: uppercase;
        }
    }
}

.banner--hero {
    height: 100%;
}

// Home Banners
.banner--barangaroo {
    background-image: url(../assets/img/home_banners/barangaroo.jpg);
}

.banner--hahn {
    background-image: url(../assets/img/home_banners/hahn.png);
}

.banner--lexus {
    background-image: url(../assets/img/home_banners/lexus.png);
}

.banner--ubk {
    background-image: url(../assets/img/home_banners/ubk.jpg);
}

// Page Banners
.banner--white {
    background-image: url(../assets/img/homepage_hero.jpg);
}

.banner--wallabies {
    background-image: url(../assets/img/case_studies/hahn_rugby/hahn_rugby_hero.png);
}

.banner--job {
    background-image: url(../assets/img/job_banner.png);
}

.banner--mike {
    background-image: url(../assets/img/you-mike-barry.png);
}
