.footer {
    font-family: $font-book;
    font-size: 14px;
    padding: 10px;

    // Small screens
    @media only screen and (max-width: 40em) {
        .footer__copy {
            font-size: 12px;
            margin-top: 1rem;
        }
    }

    .social-icons {
        float: right;
        color: $black;
        font-size: 18px;

        a {
            color: $black;
            margin-left: 6px;
        }
    }
}
