﻿// Fonts

$font-light: "gotham-light", Helvetica, Arial, sans-serif;
$font-book: "gotham-book", Helvetica, Arial, sans-serif;
$font-medium: "gotham-medium", Helvetica, Arial, sans-serif;
$font-bold: "gotham-bold", Helvetica, Arial, sans-serif;


$font-normal: $font-medium;

// Colours - Standard

$white: #fff;
$black: #000;
$blue: #004de0;
$light-grey: #ccc;

// Colours - Style

$primary-link: $black;
$primary-link-hover: darken($blue, 15%);